<main  class="card w-full">
<h1 class="w-full p-5 text-center font-semibold uppercase"> Fluxo de Caixa</h1>

<div class="caixaDiv1 text-center items-center mr-40 ml-40 space-x-96" >
   
        <select class=" border-2 border-gray-400" name="selectPg" id="selectPg" > Select
            <option value="test">Selecione uma forma de pagamento/saida</option>
            <option value="test1">test1</option>
            <option value="test2">test2</option>
            <option value="test3">test3</option>
        </select>
   
            <select class="border-2 border-gray-400" name="selectEntd" id="selectEntd" > Select
                <option value="test">Selecione uma entidade</option>
                <option value="test1">test1</option>
                <option value="test2">test2</option>
                <option value="test3">test3</option>
            </select>
</div>   
  

<div class="caixaDiv2 " >
    <p class="p-10 ">Data
        <input class="border-2 border-gray-400" type="text" placeholder="**/**/****"> 
    </p>
    
    <p  class="p-10 ">Valor
        <input class="border-2 border-gray-400" type="text" placeholder="0,00"> 
    </p>
    <p  class="p-10 ">Descricao
        <input class="border-2 border-gray-400" type="text" placeholder="Descricao">
    </p>
   
</div>   
<div class="button text-center" >
    
        <button class="caixaButton bg-gray-300 p-2 font-bold rounded-lg " > Cadastrar </button>
    
</div>   

<div class="caixaDiv3 pb-2 text-center items-center">
    <p class="entrada border-b-2 border-gray-400">Entradas</p> 
    <tr class="bg-gray-300 " >
        <th>Data</th>
        <th>Descricao</th>
        <th>Tipo</th>
        <th>Valor</th>
     </tr>
     <tr class="bg-gray-300 " >
        <th>----</th>
        <th>--------------</th>
        <th>---</th>
        <th>-----</th>
     </tr>
        <th>Total</th>
        <th>0.00</th>
</div>


<div class="caixaDiv3 border-t-2 pt-2">

    <tr class="bg-gray-300 " >
        <th>Data</th>
        <th>Descricao</th>
        <th>Tipo</th>
        <th>Valor</th>
     </tr>
     
     <tr class="bg-gray-300 " >
        <th>----</th>
        <th>--------------</th>
        <th>---</th>
        <th>-----</th>
     </tr>
     <th>Total</th>
     <th>0.00</th>  
    </div>
