<div class="relative flex flex-col min-w-0 break-words w-full shadow  rounded">
  <div class="rounded-t mb-0 px-4 py-3 border-0 ">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3
          class="font-semibold text-lg "
          
        >
        RELATÓRIO SINTÉTICO - FLUXO POR DIA
        </h3>
      </div>
      
    </div>
    <div class="block flex flex-wrap items-center ">
        <div class="flex flex-row pt-5">
            <p class="ml-2 p-2">
                Data:
                <input class="border-2 border-gray-400 rounded " type="date">
            </p>
           
            <select class="border-2 border-gray-400 ml-20 p-2" name="selectEntd" id="selectEntd" > Select
                <option value="test">Selecione uma entidade</option>
                <option value="test1">test1</option>
                <option value="test2">test2</option>
                <option value="test3">test3</option>
            </select>
        </div>
        
      </div>


  </div>
  
  <div class="block w-full overflow-x-auto ">
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse ">
      
          <tr>
            <th
              class="px-6 align-middle border-t-0 border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left"
              
            >
            Entradas
          
            
          </tr>
      
       
      </table>
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
           
          >
          Data
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            
          >
          Tipo

          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
           
          >
          Valor
          </th>
          
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let data of dataEntrada">
            <th
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center"
            >
          
              <span
                class="ml-3 font-bold"
               
              >
               {{data.data}}
              </span>
            </th>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{data.tipo}}
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              <i class="fas fa-circle text-green-500 mr-2"></i> R$ {{data.valor}}
            </td>
          
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right"
            >
             
            </td>
          </tr>
     
      
      </tbody>
    </table>
  </div>
    <div class="block w-full overflow-x-auto mt-10 ">
<!-- saida table -->
    <table class="items-center w-full bg-transparent border-collapse pt-10">
        <tr>
          <th
            class="px-6 align-middle border-t-0 border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-bold text-left"
          >
          Saídas
      </tr>
     
    </table>
    <table class="items-center w-full bg-transparent border-collapse ">
    <thead>
      <tr>
        <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
         
        >
        Data
        </th>
        <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
         
        >
        Tipo

        </th>
        <th
          class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
         
        >
        Valor
        </th>
        
      </tr>
    </thead>
    <tbody>
        
          <tr *ngFor="let data of dataSaida">
            <th
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center"
            >
             
              <span
                class="ml-3 font-bold"
                
              >
               {{data.data}}
              </span>
            </th>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{data.tipo}}
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              <i class="fas fa-circle text-red-500 mr-2"></i> R$ {{data.valor}}
            </td>
          
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right"
            >
             
            </td>
          </tr>
   
    
    </tbody>
  </table>

  </div>
</div>





  