<div class="flex items-center justify-center w-full h-24 rounded bg-gray-500 dark:bg-gray-800">

  
    <div  class="w-full mx-auto items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4" >

        <span 
        class="text-white text-sm uppercase hidden lg:inline-block font-semibold"
        
        >Usuario Logado:
        </span>

           <!-- User Button-->
         
        <ul class="flex-col md:flex-row list-none items-center hidden md:flex" >
          
            <div class=" items-center flex"#btnDropdownRef >
                <span
                  class="w-12 h-12 text-sm text-white bg-gray-200 cursor-pointer inline-flex items-center justify-center rounded-full border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300  focus:outline-none" (click)="openBtn($event)"id="userBtn"
                >
                  <img
                    alt="..."
                    class="w-full rounded-full align-middle border-none shadow-lg"
                    src="https://source.unsplash.com/uJ8LNVCBjFQ/400x400"
                  />
                </span>
              </div>
              <div #popoverDropdownRef>
                <div *ngIf="isOpen" class="w-32 bg-white rounded-lg shadow-lg py-2 mt-2 ">
                    <a href="#" class="block px-4 py-2 account-link hover:text-blue-500" >Dados do Usuario</a>
                    <a href="#" class="block px-4 py-2 account-link hover:text-blue-500">Trocar de Usuario</a>
                    <a href="#" class="block px-4 py-2 account-link hover:text-blue-500">Encerrar Sessao</a>
                 </div>
              </div>
              
        </ul>
      
            
    </div>
    
   
</div >

