<div class="relative flex flex-col min-w-0 break-words w-full shadow  rounded">

    <div class="relative mx-auto text-center mt-5">
        <h2 class="uppercase p-5 text-center font-semibold">Consulta de Proposta Comercial</h2>
 
    <div class="relative mx-auto text-center mt-5">
          
        <span class="flex mt-5 mb-5 border-t border-solid  "> </span>

        <div class="w-full flex text-center justify-center p-5">
                                                        
            <td >
                Forma de Pagamento:
                <input class="border border-black" type="text">
            </td>
        </div>
        <div class="flex flex-col">
            <div class="flex text-center justify-start">
              <table class="flex w-full text-center justify-center">
                <tbody>
                    <tr class="flex flex-row  items-center overflow-auto pr-2">
                    <td>Código Proposta: </td>
                    <td><input class="border border-black ml-1" type="text"></td>
                    <td class="ml-5">Código Cliente: </td>
                    <td><input class="border border-black ml-1" type="text"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center p-2">
                <table class="w-full flex text-center justify-center ">
                  <tbody>
                    <tr class="flex flex-row items-center overflow-auto ">
                      <td > Data Cadastro: </td>
                      <td><input class="border border-black ml-1" type="text"></td>
                      <td class="ml-5">Data Prevista: </td> 
                      <td><input class="border border-black ml-1" type="text"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="flex text-center justify-center p-2">
                <table class="w-full text-center">
                  <tbody>
                    <tr class="flex flex-row justify-center items-center overflow-auto ">
                        <td >
                            Fornecedor:
                                <select class="border border-black" type="">
                                    <option value="">Escolha um fornecedor</option>
                                    <option value="">Rimacol</option>
                                    <option value="">Serdo Material De Construcao</option>
                                </select>
                        </td>
                        <td class="ml-40">
                            Tipo de Conta :
                                <select class="border border-black" type="">
                                    <option value="">Escolha o tipo de conta</option>
                                    <option value="">Rimacol</option>
                                    <option value="">Serdo Material De Construcao</option>
                                </select>
                            </td>
                    </tr>
                  </tbody>
                </table>
              </div>
        </div>
            <div class="button flex justify-center text-center pt-5 mb-10" >
                    <button type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Limpar</button>
                    <button type="button" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Filtrar</button>
                </div> 
    </div>
    <div class="relative  w-full overflow-x-hidden shadow-md rounded-lg sm:rounded-lg ">
        <table class="table w-full text-sm text-center text-gray-500 dark:text-gray-400  ">
                <thead class="text-xs bg-gray-400 text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Codigo
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center ">
                                Cliente
                                
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center">
                                Cadastro

                                
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center">
                                Data Prevista

                                
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center">
                                Situação
                                
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center">
                                Frete
                                
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center">
                                Total
                                
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Editar</span>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Apagar</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b bg-gray-100 dark:bg-gray-800 dark:border-gray-700  font-medium text-gray-900 whitespace-nowrap dark:text-white" *ngFor="let data of listaProposta">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{data.codigo}}
                        </th>
                        <td class="px-6 py-4">
                            {{data.cliente}}
                        </td>
                        <td class="px-6 py-4">
                            {{data.cadastro}}
                        </td>
                        <td class="px-6 py-4">
                            {{data.dataPrevista}}
                        </td>
                        <td class="px-6 py-4">
                            {{data.situacao}}
                        </td>
                        <td class="px-6 py-4">
                            {{data.frete}}
                        </td>
                        <td class="px-6 py-4">
                            R$ {{data.total}}
                        </td>
                        <td class="text-right">
                            <button type="button" class="text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-3 py-1.5 text-center mr-2 mb-2">Editar</button>
                        </td>
                        <td class="text-right">
                            <button type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-3 py-1.5 text-center mr-2 mb-2">Apagar</button>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>   
</div>