<main class="bg-gray-300 rounded-lg m-10">
<div class="w-full text-center " >
    <h1 class="uppercase">Cadastro de Tipo de Pagamento/Saída</h1>
    <p class="p-10 ">Descricao
        <input class="border-2 border-black" type="text" placeholder=""> 
    </p>
    
  
</div>   
<div class="button text-center" >
    
        <button class="caixaButton bg-gray-300 p-2 font-bold rounded-lg " > Cadastrar </button>
    
</div> 

<div class="p-5 text-center items-center">
   
    <thead>
        <tr class="card-head w-full text-center">
        
            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Codigo</th>
            <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Descricao</th>
        
        
        </tr>
    </thead>
    <tbody>
        <tr class="hover:bg-grey-lighter">
        <td class="py-4 px-6 border-b border-grey-light">0001</td>
        <td class="py-4 px-6 border-b border-grey-light">Serdo Material de Construção</td>
        
        <span class="py-6 border-b text-xl flex flex-col items-center cursor-pointer bg-red-500"></span>
        </tr>
    </tbody>

</div>
</main>