<main  class="card w-full">
<div class="w-full text-center items-center" >
    <h1 class="uppercase pt-5 text-center">Cadastro de Tipo de Entidade</h1>
    <p class="pt-10 text-center">Descricao
        <input class="border-2 border-gray-400" type="text" placeholder=""> 
    </p>
    
  
</div>   
<div class="button text-center pt-10" >
    
    <button class="caixaButton bg-gray-300 p-2 font-bold rounded-lg " > Cadastrar </button>
    
</div> 
<div class="relative w-3/6  md:w-8/12  sm:mx-auto  mx-auto text-center mt-10">
   
<table class="items-center w-full bg-transparent border-collapse">
<thead >
  <tr >
    <th
      class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
     
    >
    Codigo
    </th>
    <th
    class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-center"
    
  >
  Descrição

  </th>
    
</thead>
<tbody>
  <tr class="text-center items-center" *ngFor="let data of entidade">
      <td
      class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-md whitespace-nowrap p-4"
    >
      {{data.codigo}}
    </td>
    <td
    class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-md whitespace-nowrap p-4"
     >
    {{data.descricao}}
     </td>
      
    </tr>
</tbody>
</table>
</div>
</main>