<main  class="card  w-full ">
    
    <div class="relative mx-auto text-left mt-5">
        <h2 class="uppercase mt-5 text-center font-semibold">Cadastro de Contas a pagar </h2>

        <div class="block flex flex-col justify-start mx-auto text-right mt-5">

            <table >
                <tr class="flex mt-1 justify-end">
                <td >
                    Fornecedor : 
                   
                        <select class="border-2 border-gray-400 " name="selectPg" id="selectPg" > Select
                            <option value="test">Escolha o fornecedor</option>
                            <option value="test1">test1</option>
                            <option value="test2">test2</option>
                            <option value="test3">test3</option>
                        </select>
                   
                </td>
                
            </tr>
            
            <tr class="flex mt-1 justify-end ">
                <td >
                    Tipo de Conta :
                    <select class="border-2 border-gray-400 " name="selectPg" id="selectPg" > Select
                        <option value="test">Escolha o tipo da conta</option>
                        <option value="test1">test1</option>
                        <option value="test2">test2</option>
                        <option value="test3">test3</option>
                    </select>
                </td>
            </tr>
            <tr class="flex mt-1 justify-end">
                <td >Numero do Documento :
                    <input class="border-2 border-gray-400" type="text" placeholder=""> 
                </td>
            </tr>
            <tr class="flex mt-1 justify-end">
                <td >Descrição :	
                    <input class="border-2 border-gray-400" type="number" placeholder=""> 
                </td>
            </tr>
            <tr class="flex mt-1 justify-end">
                <td >Vencimento  :
                    <input class="border-2 border-gray-400" type="number" placeholder=""> 
                </td>
            </tr>
            <tr class="flex mt-1 justify-end">
                <td >Valor  :
                    <input class="border-2 border-gray-400" type="number" placeholder=""> 
                </td>
            </tr>
            <tr class="flex mt-1 justify-end ">
                <td >Parcela  :
                    <input class="border-2 border-gray-400 ml-2 mr-2" type="checkbox" placeholder=""> 
                    <input class="border-2 border-gray-400" type="number" placeholder=""> 
                </td>
            </tr>
       
    </table>
    </div>
</div> 

    <div class="button text-center pt-10" >
        
        <button type="button" class="text-white bg-gradient-to-r from-blue-400 via-blue-500 to-blue-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-10">Confirmar</button>

        
    </div> 
  
    </main>