<section class="mainComponent font-family-karla flex ">
    
    <aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl ">
        <div class="p-6">
            <a href="index.html" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">FILEH</a>
            
        </div>
        <nav class="text-white text-base font-semibold pt-3 " >
            <a href="index.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-tachometer-alt mr-3"></i>
                Dashboard
            </a>
            <a href="blank.html" class="flex items-center active-nav-link text-white py-4 pl-6 nav-item">
                <i class="fas fa-sticky-note mr-3"></i>
                Clientes
            </a>
            <a href="tables.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-table mr-3"></i>
                Vendas
            </a>
            <a href="forms.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-align-left mr-3"></i>
                Financeiro
            </a>
            <a href="tabs.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-tablet-alt mr-3"></i>
                Caixa
            </a>
            <a href="calendar.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-calendar mr-3"></i>
                Calendar
            </a>
        </nav>
        <a href="#" class="absolute w-full upgrade-btn bottom-0 active-nav-link text-white flex items-center justify-center py-4">
            <i class="fas fa-arrow-circle-up mr-3"></i>
            Raphao Bala Neles!
        </a>
    </aside>

    <div class="relative w-full flex flex-col h-screen overflow-y-hidden">

        <!-- Background overlay-->
        <div class="fixed inset-0 transition-opacity"
            (click)="closeBtn()">
            <div class="absolute inset-0 opacity-75"></div>
        </div>
        <!-- Desktop Header -->
        <header class="navBg w-full items-center py-2 px-6 hidden sm:flex border-b-2 border-white">
         

            <div class="w-1/2">
                <ul class="flex flex-row mt-1 text-black font- text-lg	 ">
                    <p class="block px-4 py-2 account-link hover:text-white" >Usuario Logado:</p>
                    
                </ul>
            </div>
       
            <div class="relative w-1/2 flex justify-end">
             
                    <!-- User Button-->
                    
                <div  (click)="openBtn($event)" class="realtive z-10 w-12 h-12 rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none" id="userBtn"
                id="userbtn">
                <img src="https://source.unsplash.com/uJ8LNVCBjFQ/400x400">
          
                </div>
                    <!-- account drop menu-->
                <div *ngIf="isOpen" class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16 ">
                        <a href="#" class="block px-4 py-2 account-link hover:text-white" >Dados do Usuario</a>
                        <a href="#" class="block px-4 py-2 account-link hover:text-white">Trocar de Usuario</a>
                        <a href="#" class="block px-4 py-2 account-link hover:text-white">Encerrar Sessao</a>
                </div>
            </div>
        </header>

        <!-- Mobile Header & Nav -->
        <header x-data="{ isOpen: false }" class="w-full bg-sidebar py-5 px-6 sm:hidden">
            <div class="flex items-center justify-between">
                <a href="index.html" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">FILEH</a>
                <!-- <button @click="isOpen = !isOpen" class="text-white text-3xl focus:outline-none"> -->
                    <button class="text-white text-3xl focus:outline-none">
                    <i x-show="!isOpen" class="fas fa-bars"></i>
                    <i x-show="isOpen" class="fas fa-times"></i>
                </button>
            </div>

            <!-- Dropdown Nav -->
            <nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
                <a href="index.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    <i class="fas fa-tachometer-alt mr-3"></i>
                    Clientes
                </a>
                <a href="blank.html" class="flex items-center active-nav-link text-white py-2 pl-4 nav-item">
                    <i class="fas fa-sticky-note mr-3"></i>
                    Blank Page
                </a>
                <a href="tables.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    <i class="fas fa-table mr-3"></i>
                    Tables
                </a>
                <a href="forms.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    <i class="fas fa-align-left mr-3"></i>
                    Forms
                </a>
                <a href="tabs.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    <i class="fas fa-tablet-alt mr-3"></i>
                    Tabbed Content
                </a>
                <a href="calendar.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    <i class="fas fa-calendar mr-3"></i>
                    Calendar
                </a>
                <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    <i class="fas fa-cogs mr-3"></i>
                    Support
                </a>
                <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    <i class="fas fa-user mr-3"></i>
                    My Account
                </a>
                <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-2 pl-4 nav-item">
                    <i class="fas fa-sign-out-alt mr-3"></i>
                    Sign Out
                </a>
         
            </nav>
            <!-- <button class="w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
                <i class="fas fa-plus mr-3"></i> New Report
            </button> -->
        </header>
                       
        <div class="w-full h-screen overflow-x-hidden flex flex-col ">
            <div class="w-full h-screen p-6 border-2 border-black flex justify-center ">
                <h1 class="text-3xl text-black ">Cadastro de Clientes</h1>

                <div class=" fixed w-2/6 h-screen bt-2 overflow-x-hidden flex flex-col pt-8">
                    <app-register></app-register>
                </div>
            </div>
    
            
        </div>
        <footer class="w-full bg-white text-right p-4">
            Built by <a target="_blank" class="underline">Raphael da Cruz</a>.
        </footer>
    </div>
  
    
  

</section>