

<div class="flex flex-col">
    
    
    <aside  class=" bg-sidebar h-screen w-64 hidden sm:block shadow-xl border-2 border-white" *ngIf="data.items" [ngClass]="{'submenu': true, 'active': data.expanded}">
      
        <div class="logo-template">
            <a href="index.html" class="logo-template flex">
                <img  src="assets/img/logo.jpg" class="logo" > 
            </a>
        </div>

        <nav  class="text-white text-base font-semibold pt-3 " >
       
            <ul class="sidenav-nav">
                <li class="sidenav-nav-item" *ngFor="let data of navData">
                    <a *ngIf="collapsed;" class="sidenav-nav-link" [routerLink]="[data.routeLink]" 
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <i class="sidenav-link-icon" [class]="data.icon" ></i>
                        <span class="sidenav-link-text" *ngIf="collapsed" >
                            {{data.label}}
                        </span>
            
                        <!-- checks if the array includes "items", which is the submenu links-->
                        <i *ngIf="data.items && collapsed" class="menu-collapse-icon p-5"
                        [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"
                        (click)="handleClick(data)"></i>
                    </a>

                    <a  *ngIf="data.items && data.multiple" class="sublevel-nav-link">
                        <ng-container *ngFor="let item of data.items" class="sublevel-nav-item">

                            <a class="sublevel-nav-link"
                            (click)="handleClick(item)"
                              *ngIf="item.items && item.items.length &gt; 0"
                              [ngClass]="getActiveClass(item)"
                            >
                              <i class="sublevel-link-icon fa fa-circle"></i>
                              <span class="sublevel-link-text"  
                                  *ngIf="collapsed">{{item.label}}</span>

                              <i *ngIf="item.items && collapsed" class="menu-collapse-icon"
                                [ngClass]="!item.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"
                              ></i>
                            </a>
                            
                            <a class="sublevel-nav-link" *ngIf="!item.items"
                              [routerLink]="[item.routeLink]"
                              routerLinkActive="active-sublevel"
                              [routerLinkActiveOptions]="{exact: true} "
                            >
                              <i class="sublevel-link-icon fa fa-circle"></i>
                              <span class="sublevel-link-text" 
                                 >{{item.label}}</span>
                            </a>
                        
                             
                        </ng-container>
                    </a>

                </li>
            </ul>

                  
        </nav> 
    </aside>
    
    <div *ngIf="mobileView" class="w-full bg-secondary py-5 px-6 sm:hidden">
        <div class="flex items-center justify-between">
            <a href="index.html" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">FILEH</a>
         
                
            <div  (click)="OpenMobileNav()" class="realtive z-10 w-12 h-12 cursor-pointer rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none " id="userBtn"
            >
            <img src="https://source.unsplash.com/uJ8LNVCBjFQ/400x400">
            </div>
                
        </div>

        <!-- Dropdown Nav -->
        <nav *ngIf="!collapsed" class="flex flex-col pt-4 z-50" >
            <a href="index.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item ">
                <i class="fas fa-tachometer-alt mr-3"></i>
                Dashboard 2
            </a>
            
           <ul class="flex flex-col text-white opacity-75 hover:opacity-100 py-4"> 
            

                <a [ngClass]="{ 'hidden': isActive }">
                    <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item" (click)="toggleMenu()">
                      <i class="fas fa-sticky-note mr-3"></i>
                      Clientes 
                    </a>
                </a>
                  <a [ngClass]="{ 'hidden': !isActive }">
                    <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 active-nav-link nav-item" (click)="toggleMenu()">
                      <i class="fas fa-sticky-note mr-3"></i>
                      Clientes 
                    </a>
                    <a href="blank.html" class="flex items-center text-white py-4 pl-8 nav-item" *ngIf="dropMenu">
                      <i class="fas fa-sticky-note mr-3"></i>
                      Cadastro Clientes 
                    </a>
                    <a href="blank.html" class="flex items-center text-white py-4 pl-8 nav-item" *ngIf="dropMenu">
                      <i class="fas fa-sticky-note mr-3"></i>
                      Pesquisar Clientes 
                    </a>
                </a>
            </ul>

            <a href="forms.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-align-left mr-3"></i>
                Vendas 2
            </a>
          
            <a href="forms.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-align-left mr-3"></i>
                Financeiro 2
            </a>
            <a href="tabs.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-tablet-alt mr-3"></i>
                Caixa 2
            </a>
            <a href="calendar.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-calendar mr-3"></i>
                Calendar 2
            </a>
            
     
        </nav> 

    </div>
  
</div>
