
<div  class="bg-green-500 md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl bg-white flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-6"
>
    
    
    <aside  class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center w-full mx-auto">
        <div class="logo-template">
            <a href="index.html" class="logo-template flex">
                <img  src="assets/img/logo.jpg" class="logo" > 
            </a>
        </div>
        <nav  class="text-white text-base font-semibold pt-3 " >
            <ul class="sidenav-nav ">
                <li class="sidenav-nav-item " *ngFor="let data of navData">
                    <a (click)="handleClick(data)" *ngIf="collapsed;" class="sidenav-nav-link"  [routerLink]="[data.routeLink]" 
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" >
                        <i class="sidenav-link-icon " [class]="data.icon" ></i>
                        <span class="sidenav-link-text " *ngIf="collapsed" >
                            {{data.label}}
                        </span>
                        <i *ngIf="data.items && collapsed" class="menu-collapse-icon  ml-5"
                        [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"
                        ></i>
                    </a>
                    <a *ngIf="data.expanded">
                        <ng-container *ngFor="let item of data.items" class="sublevel-nav-item">
                            <a (click)="handleSubMenuClick(item)" class="sidenav-nav-link pl-3 ml-10 mt-2 " [ngClass]="{'active-sublevel': item.expanded}">
                                <span class="sublevel-link-text">
                                    {{item.label}}
                                </span>
                                <i  class="menu-collapse-icon  ml-5"
                                    [ngClass]="item.expanded ? 'fal fa-angle-down' : 'fal fa-angle-right'"
                                ></i>
                            </a>
                            <a *ngIf="item.expanded && item.items && item.items.length > 0" class="sublevel-nav-item">
                                <ng-container *ngFor="let subItem of item.items"> 
                                    <a  class="sidenav-nav-link pl-7 ml-10 mt-2" [routerLink]="[subItem.routeLink]" routerLinkActive="active">
                                        <span class="sublevel-link-text">
                                            {{subItem.label}}
                                        </span>
                                    </a>
                                </ng-container>
                            </a>
                        </ng-container>
                    </a>
                </li>
            </ul>
        </nav> 
    </aside>
    
    <div *ngIf="mobileView" class="w-full bg-secondary py-5 px-6 sm:hidden">
        <div class="flex items-center justify-between">
            <a href="index.html" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">FILEH</a>
         
                
            <div  (click)="OpenMobileNav()" class="realtive z-10 w-12 h-12 cursor-pointer rounded-full overflow-hidden border-4 border-gray-400 hover:border-gray-300 focus:border-gray-300 focus:outline-none " id="userBtn"
            >
            <img src="https://source.unsplash.com/uJ8LNVCBjFQ/400x400">
            </div>
                
        </div>

        <!-- Dropdown Nav -->
        <nav *ngIf="!collapsed" class="flex flex-col pt-4 z-50" >
            <a href="index.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item ">
                <i class="fas fa-tachometer-alt mr-3"></i>
                Dashboard 2
            </a>
            
           <ul class="flex flex-col text-white opacity-75 hover:opacity-100 py-4"> 
            

                <a [ngClass]="{ 'hidden': isActive }">
                    <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item" (click)="toggleMenu()">
                      <i class="fas fa-sticky-note mr-3"></i>
                      Clientes 
                    </a>
                </a>
                  <a [ngClass]="{ 'hidden': !isActive }">
                    <a href="#" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 active-nav-link nav-item" (click)="toggleMenu()">
                      <i class="fas fa-sticky-note mr-3"></i>
                      Clientes 
                    </a>
                    <a href="blank.html" class="flex items-center text-white py-4 pl-8 nav-item" *ngIf="dropMenu">
                      <i class="fas fa-sticky-note mr-3"></i>
                      Cadastro Clientes 
                    </a>
                    <a href="blank.html" class="flex items-center text-white py-4 pl-8 nav-item" *ngIf="dropMenu">
                      <i class="fas fa-sticky-note mr-3"></i>
                      Pesquisar Clientes 
                    </a>
                </a>
            </ul>

            <a href="forms.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-align-left mr-3"></i>
                Vendas 2
            </a>
          
            <a href="forms.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-align-left mr-3"></i>
                Financeiro 2
            </a>
            <a href="tabs.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-tablet-alt mr-3"></i>
                Caixa 2
            </a>
            <a href="calendar.html" class="flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item">
                <i class="fas fa-calendar mr-3"></i>
                Calendar 2
            </a>
            
     
        </nav> 

    </div>
  
</div>
