<main  class="card  w-full ">
    
    <div class=" w-full justify-center  flex  mt-2  " >
        
        <table>
            <h2 class="uppercase mt-5 text-center font-semibold">Cadastro de Produto/Serviço </h2>
            <tr class="p-5">
                <td >Descrição :
                    <input class="border-2 border-gray-400" type="text" placeholder=""> 
                </td>
            </tr>
            <tr class="flex ml-2">
                <td >Unidade :
                    <select class="border-2 border-gray-400 " name="selectPg" id="selectPg" > Select
                        <option value="test">Escolha a unidade de medida</option>
                        <option value="test1">test1</option>
                        <option value="test2">test2</option>
                        <option value="test3">test3</option>
                    </select>
                </td>
            </tr>
            <tr class="flex ml-2.5">
                <td >Estoque :
                    <input class="border-2 border-gray-400" type="number" placeholder=""> 
                </td>
            </tr>
            <tr class="flex ml-8">
                <td >Valor :
                    <input class="border-2 border-gray-400" type="number" placeholder=""> 
                </td>
            </tr>
       
    </table>
</div> 

    <div class="button text-center pt-10" >
        
        <button class="caixaButton bg-gray-300 p-2 font-bold rounded-lg " > Cadastrar </button>
        
    </div> 
  
    </main>