<app-dashboard>  </app-dashboard>

  <main class="h-screen">
    <div class="p-2  pb-0 sm:ml-64">
    <app-dash-header></app-dash-header>
    
   
      <div class="flex-auto homebox items-center justify-center text-center p-2 my-5 rounded bg-gray-300">
       
        <app-consultar-conta-receber></app-consultar-conta-receber>
      
   
    
      </div>
      

      <app-footer></app-footer>
    </div>
  </main>



  
<!--
   
    
    
    
 <div class="w-full h-24 my-4">
      
    </div>
  </div>



    Caixa 
      cadastro
      <app-caixa></app-caixa> ***********TO FIX TABLE CSS
      <app-entidade></app-entidade> ***********TO FIX TABLE CSS
      <app-saida></app-saida> ***********TO FIX TABLE CSS
   
      relatorio
      <app-relatorio></app-relatorio> ***********TO FIX TABLE CSS
      <app-relatorio-dia></app-relatorio-dia> ***********TO FIX TABLE CSS

    Vendas (CSS TABLE FIXED)
        vendas/cadastro
      <app-produto></app-produto>
      <app-situacao-proposta></app-situacao-proposta>
      <app-forma-pagamento></app-forma-pagamento>
      <app-lista-de-preco></app-lista-de-preco>
      <app-proposta-comercial></app-proposta-comercial>
       
        vendas/consulta    
      <app-consulta-produto></app-consulta-produto>
      <app-consulta-proposta></app-consulta-proposta>

    Financeiro
        cadastro
     <app-contas-pagar></app-contas-pagar>
     <app-contas-receber></app-contas-receber>
     <app-cadastro-fornecedor></app-cadastro-fornecedor>   
     <app-tipos-conta></app-tipos-conta>

        consulta
      <app-consultar-conta-pagar></app-consultar-conta-pagar>
      <app-consultar-conta-receber></app-consultar-conta-receber>




<div class=" flex flex-col w-3/6 border-4 border-white">
   

<app-consulta-clientes >
            
                       
                    
    <app-modal modalID="edit">
       
        
        <table class="text-left  border-collapse " >
            <thead>
                <tr class="card-head">
                   
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Nome</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Logradouro</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Bairro</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Telefone</th>
                    <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Entidade</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr class="hover:bg-grey-lighter" *ngFor="let client of client">
                  <td class="py-4 px-6 border-b border-grey-light">{{ client?.nome }}</td>
                  <td class="py-4 px-6 border-b border-grey-light">{{ client?.logradouro }}</td>
                  <td class="py-4 px-6 border-b border-grey-light">{{ client?.bairro }}</td>
                  <td class="py-4 px-6 border-b border-r border-grey-light">{{ client?.telefone }}</td>
                  <span class="py-6 border-b text-xl flex flex-col items-center cursor-pointer bg-red-500"></span>
                </tr>
              </tbody>
        </table>
    
    </app-modal>

</app-consulta-clientes> 


  
</div>


  

 --> 